.custome-header {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(250, 222, 11, 0.808);
    margin-bottom: 0 !important;
}

.nav-link {
    color: black !important;
}

.btn{
    color: black !important;
    background-color: white;
    border-color: black;
}

.btn-primary {
    background-color: #e3b433ec;
    color: white !important;
    border-color: gray;
    --bs-btn-color: #fff;
    --bs-btn-border-color: #000000;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #e3b433ec;
    --bs-btn-hover-border-color: #ffffff; 
    --bs-btn-focus-shadow-rgb: 0, 0, 0; 
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #e3b433ec;
    --bs-btn-active-border-color: #000000;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ffffff;
    --bs-btn-disabled-border-color: #000000;
}

.btn-primary:hover {
    color: #fff !important;
}

.logo-header {
    width: 160px;
    height: 90px;
    border-bottom-left-radius: 60px;
    border-top-right-radius: 60px;
}

.header-options {
    font-family: 'Libre Baskerville',cursive;
    font-weight: 700;
    font-size: large;
}

.header-options:hover {
    border-radius: 10px;
    background-color: #ffd900;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #e3b433ec;
}

.drop-down-menu {
    min-width: 160px;
    justify-content: center;
    display: flex;
}

@media (max-width: 768px) {
    .custome-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .drop-down-menu {
        width: 100%;
        justify-content: center;
    }

    .nav-link {
        text-align: center;
        padding-top: 15px;
    }

}