body {
    background-image: url('../images/bg2.webp');
    background-position: bottom center;
}

.home-page-main-picture {
    background-image: url("../images/pozadie.webp");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-page-slogan {
    font-size: xx-large;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}

.slogan {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(250, 222, 11, 0.808);
    border-radius: 10px;
    color: black;
}

.home-page-button {
    background-color: #e3b433ec;
}

.more-info-h {
    background-color: rgba(250, 222, 11, 0.808);
    width: 100%;
    text-align: center;
    font-family: cursive;
    border-radius: 4px;
}