.home-card-item1 { grid-area: picture1; }
.home-card-item2 { grid-area: text1; }
.home-card-item3 { grid-area: text2; }
.home-card-item4 { grid-area: picture2; }

.home-card-grid-container {
    display: grid;
    grid-template-areas:
      'picture1  text1  text2  picture2 ';
    gap: 20px;
    padding: 10px;
    max-width: 1050px;
    margin: 0 auto;
}

.home-header {
    font-weight: 600;
}

.home-card-img {
    width: 300px;
    height: auto;
    border-radius: 15px;
}

.home-card-item1 {
    display: flex;
    justify-content: flex-end;
}

.home-card-item3 {
    text-align: right;
    font-family: cursive;
    font-size: 17px;
}

.home-card-item2 {
    font-family: cursive;
}

@media (max-width: 768px) {
    .home-card-grid-container {
        grid-template-areas:
          'text1'  
          'text2'
          'picture1'
          'picture2' ;
    }
    
    .home-card-item1, .home-card-item2, .home-card-item3, .home-card-item4 {
        text-align: center;
        justify-content: center;
    }
 
    .home-card-item4 {
        display: flex;
    }

}