.grid-my-profile-photo {grid-area: grid-my-profile-photo;}
.grid-my-profile-name {grid-area: grid-my-profile-name;}
.grid-my-profile-surname {grid-area: grid-my-profile-surname;}
.grid-my-profile-age {grid-area: grid-my-profile-age;}
.grid-my-profile-rating {grid-area: grid-my-profile-rating;}
.grid-my-profile-about {grid-area: grid-my-profile-about;}
.grid-my-profile-edit {grid-area: grid-my-profile-edit;}

.grid-my-profile-heading-h1 {grid-area: grid-my-profile-heading-h1;}
.grid-my-profile-heading-btn {grid-area: grid-my-profile-heading-btn;}

.grid-my-profile-heading {
    display: grid;
    grid-template-areas: 
    'grid-my-profile-heading-h1 grid-my-profile-heading-btn';
    gap: 10px;
}

.grid-my-profile-heading-h1 {
    margin-left: 5px;
}

.grid-my-profile-heading-btn {
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.grid-my-profile {
    display: grid;
    grid-template-areas: 
    'grid-my-profile-photo grid-my-profile-name grid-my-profile-surname grid-my-profile-age'
    'grid-my-profile-photo grid-my-profile-rating grid-my-profile-rating grid-my-profile-rating'
    'grid-my-profile-edit grid-my-profile-about grid-my-profile-about grid-my-profile-about';
    gap: 10px;
}

.grid-my-profile-photo {
    margin-right: 40px;
    text-align: center;
    width: 200px;
    height: 200px;

}

.my-profile-label {
    font-weight: bold;
}

.grid-my-profile-about {
    width: 85%;
}

.my-profile-about {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    height: auto;
}

.custom-file-upload {
    margin-top: 2px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    align-content: center;
}

.user-photo {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.grid-my-profile-edit {
    text-align: center;
    width: 200px;
}

.history-trip-center {
    margin-right: 1000px;
}

@media (max-width: 1250px) {
    .grid-my-profile {
        grid-template-areas: 
        'grid-my-profile-photo grid-my-profile-name grid-my-profile-surname '
        'grid-my-profile-photo grid-my-profile-age grid-my-profile-rating'
        'grid-my-profile-edit grid-my-profile-about grid-my-profile-about ';
    }
    .grid-my-profile-photo {
        margin-right: 20px;
    }

    .history-trip-center {
        margin-right: 0px;
    }
}

@media (max-width: 1000px) {
    .grid-my-profile {
        grid-template-areas: 
        'grid-my-profile-photo grid-my-profile-photo'
        'grid-my-profile-edit grid-my-profile-edit'
        'grid-my-profile-name grid-my-profile-surname'
        'grid-my-profile-age grid-my-profile-rating'
        'grid-my-profile-about grid-my-profile-about ';
    }

    .my-profile-about {
        text-align: left;
        width: 380px;
    }
    .grid-my-profile-photo {
        all: unset;
    }

    .grid-my-profile-heading-h1 {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .grid-my-profile {
        grid-template-areas: 
        'grid-my-profile-photo'
        'grid-my-profile-edit'
        'grid-my-profile-name'
        'grid-my-profile-surname'
        'grid-my-profile-age'
        ' grid-my-profile-rating'
        'grid-my-profile-about';
        text-align: center;
    }

    .my-profile-about {
        text-align: left;
        width: auto;
        margin-left: 30px;
    }

    .text-area-width {
        width: 290px !important;
    }

    .grid-my-profile-edit {
        margin-left: 50px;
    }
}