body.register-page {
    background-image: url('../images/bglogin.webp');
    background-position: bottom center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.bottom-padding {
    padding-bottom: 50px;
}

@media (max-width: 600px) {
    .bottom-padding {
        padding-bottom: 0;
    }

    body.register-page {
        height: 130vh;
    }
}

.bg-orange {
    background-color: #e3b433ec;
    border-radius: 15px;
}

.white{
    color: white !important;
}

.radius-register {
    border-radius: 15px;
}

.main-content {
    display: grid;
}

.green {
    color: #4CAF50;
}

.red {
    color: brown;
}